.DS_Store

go.sum
bin/**

.env
.markdownlint.yaml
logs/
docs/reports/
docs/nginx

AGENTS.md
GOLANG.md
GODOC.md
CODANNA.md
LSP.md

reports/**
.repomix/
repomix.config.json
repomix-output.xml

.claude/**
.codex/**
.qoder/**
.mcp.json

.codanna/**
.codannaignore
# local folder
.fastembed_cache/**
# link to global
.fastembed_cache

run_*.sh
run_format.sh
run_lint.sh
run_test.sh
.task/
