.DS_Store

go.sum
bin/**

.env

test_*

.repomix/
repomix.config.json

AGENT.md
GOLANG.md
USING-GODOC.md

.aider*
.claude/**
.codex/**
.gemini/**
.vscode/**

.mcp.json

.codanna/**
.codannaignore
.fastembed_cache/**

run_*.sh
run_format.sh
run_lint.sh
run_tests.sh
